#keyface{
	z-index: 99999999;
}
#keyput {
	display: none;
	text-align: center;
	width: 240px;
	margin-left: -120px;
	padding: .5em 0;
	border: none;
	z-index: 9999;
	
	background-color: rgba(100%,100%,100%,.65);
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: #6FA1D9 0px 0px 10px -2px inset;
	-webkit-box-shadow: #6FA1D9 0px 0px 10px -2px inset;
	box-shadow: #6FA1D9 0px 0px 10px -2px inset;
}#keyput:focus {
	outline: none;
}

#keyboard, .keyboard {
	position: fixed;
	height: 100%;
	width: 0px; 
	bottom: 0px;
	left: 50%; 
	right: 50%;
	z-index: 99999999;
	font-family: 'Trebuchet MS', sans-serif;
	text-rendering: optimizeLegibility;
}

.key-a {
	cursor: pointer;
}

.punc {
	display: none;
}

.key-offset {
	visibility: hidden;
}

.keyboard ul {
	position:relative;
	list-style-type: none;
	clear: both;
	margin: 0;
	padding: 0;
	d-isplay: none;
}
.keyboard li, .keyboard .key {
	display: none;
	float:left;
	min-width: 2em;
	padding: .4em .4em;
	margin: .2em;
	text-align: center;
	text-shadow: none;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-box-shadow: #6FA1D9 0px 0px 10px -2px;
	-webkit-box-shadow: #6FA1D9 0px 0px 10px -2px;
	box-shadow: #6FA1D9 0px 0px 10px -2px;
	
	color: white;
	background-color: rgba(0,0,0,.75);
	
	color: #999;
	background-color: rgba(100%,100%,100%,.65);
}

#keys-top {
	position: fixed;
	top: 0;
	overflow: visible;
	b-ackground: rgba(0,0,0,.5);
}

#keys-main {
	position: fixed;
	width: 100%;
	padding: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: visible;
	b-ackground: rgba(0,0,0,.5);
	max-height: 150px; /* Bug? Prevent Jumpyness */
}

#keys-left {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 0;
	b-ackground: green;
}

#keys {
	text-align: center;
	z-index: 1;
	b-ackground: blue;
}

#keys-right {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 0;
	b-ackground: red;
}
.key-rowR {
	float: right;
}
.key-bumpL {
	margin-left: -35px;
}
.key-mtextc {
	margin: 0px;
	text-align: center;
}

#instr {
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	text-rendering: optimizeLegibility;
	text-shadow: 10px 10px 25px rgba(100%,100%,100%,.9)
				,-5px -5px 25px rgba(100%,100%,100%,.9)
				,-5px 10px 25px rgba(100%,100%,100%,.9)
				,10px -5px 25px rgba(100%,100%,100%,.9);
	box-shadow: none;
	color: white;
	color: black;
	background: rgba(0,0,0,.25);
	background: transparent;
	font-size: 12pt;
	padding: 2px 0px;
}

.hide {
	display: none;
}
.show {
	display: block;
}