/* IE6 POSITON: FIXED; FLICKER: NONE; */
*html body,*html html{background-image:url(about:blank);background-attachment:fixed;}

*html #keys-top{
	position: absolute;
	top:expression(eval(document.compatMode&&document.compatMode=='CSS1Compat')?
		documentElement.scrollTop+((0))
		:document.body.scrollTop+((0)));
}
*html #keys-main{
	position: absolute;
	top:expression(eval(document.compatMode&&document.compatMode=='CSS1Compat')?
		documentElement.scrollTop+((documentElement.clientHeight-this.clientHeight))
		:document.body.scrollTop+((document.body.clientHeight-this.clientHeight)));
}
*html #keyboard {
	position: fixed;
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.keyboard li {
	background: black;
	background: white;
}